<!DOCTYPE html>
<html>
<head>
    <title>User Management</title>
</head>
<body>
    <nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/auth/profile">Profile</a>
        </li>
        <li>
            <a href="/auth/roleManager">User Administration</a>
        </li>
    </ul>
    </nav>
    <h1>User Management</h1>
    <ul>
    {{#each users}}
        <li>
            {{firstName}} - {{email}} - {{role}}
            <button onclick="changeRole('{{_id}}')">Change to Premium</button>
            <button onclick="deleteUser('{{_id}}')">Delete</button>
        </li>
    {{/each}}
    </ul>

    <script>
    async function changeRole(userId, newRole) {
        try {
            const response = await fetch(`/api/users/premium/${userId}`, {
                method: 'PUT',
            });

            const data = await response.json();
            console.log('User role changed:', data);
        } catch (error) {
            console.error('Error changing user role:', error);
        }
    }

    async function deleteUser(userId) {
        try {
            const response = await fetch(`/api/users/${userId}`, {
                method: 'DELETE'
            });

            if(response.ok) {
                alert('user deleted')
                window.location.assign(window.location.href)
            }
        } catch (error) {
            console.error('Error deleting user:', error);
        }
    }
    </script>
</body>
</html>